@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

.loggedin{
  background-image: url("../image/Ømer.png");
  background-size: cover;
  background-color: #FFFFFF;

}



.home2over{
  font-size: 24px;
  color: var(--tekstfarve);
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;

}

.home2tekst{
  color: var(--tekstfarve);
  font-size: 18px;
  line-height: 2;
  font-family: var(--tekst-font);
}

.home2knap{
  background: #5235D4 ;
  color:white;
  text-align: center;
  padding: 12px 50px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.5s;
  font-family: var(--tekst-font) ;
  font-size: 19px;
  margin-top: 5px;
}



.homecon{
  margin-bottom: 30px;
}





@media screen and (min-width: 768px){
  .homecon{
    margin-bottom: 60px;
    margin-top: 40px;
  }
  .home2{
    margin-top: 70px;
  }
}

@media screen and (min-width: 1024px){
  .home2{
    margin-top: 140px;
  }
  .home2over{
    font-size: 38px;
  }
  .home2tekst{
    font-size: 20px;
    width: 70%;
  }

}
