body {
  background: url(../image/baggrund.png);
  background-size: cover
}


@media screen and (min-width: 1024px){

  body {
    background: url(../image/baggrund.png);
    background-size: cover
  }

}